<section class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 me-auto col-sm-6 col-md-6">
				<div class="widget footer-widget mb-5 mb-lg-0">
					<div class="footer-logo">
						<!-- <img src="assets/images/logo double.png" alt="EduHash" class="img-fluid"> -->

					</div>
					<p class="mt-3"><h4>学屿教育</h4> 
                        
                        <br>我们搭建了一个学长学姐的平台，分享彼此间的留学故事。不仅为学生提供最具个性化的留学申请指导，也创造了一个广阔的社交和成长空间，提供学术和职业交流。大家可以在此找到志同道合的朋友。
                    </p>
					<!-- <ul class="list-inline footer-socials">
						<li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
						<li class="list-inline-item"> <a href="#"><i class="fab fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
					</ul> -->
				</div>
			</div>
			
			<div class="col-lg-2 col-sm-6 col-md-6 col-xl-2">
				<div class="footer-widget mb-5 mb-lg-0">
					<h5 class="widget-title">Explore</h5>
					<ul class="list-unstyled footer-links">
						<li><a href="/about">关于我们</a></li>
						<li><a href="/contact">联系我们</a></li>
                        <li><a href="/mentor">导师团队</a></li>
						<!-- <li><a href="#">Projects</a></li>
						<li><a href="#">Terms & Condition</a></li>
						<li><a href="#">Privacy policy</a></li> -->
					</ul>
				</div>
			</div>
			<!-- <div class="col-lg-2 col-sm-6 col-md-6 col-xl-2">
				<div class="footer-widget mb-5 mb-lg-0">
					<h5 class="widget-title">Courses</h5>
					<ul class="list-unstyled footer-links">
						<li><a href="#">SEO Business</a></li>
						<li><a href="#">Digital Marketing</a></li>
						<li><a href="#">Graphic Design</a></li>
						<li><a href="#">Site Development</a></li>
						<li><a href="#">Social Marketing</a></li>
					</ul>
				</div>
			</div> -->
			<div class="col-lg-4 col-sm-6 col-md-8 col-xl-4">
				<div class="footer-widget footer-links mb-5 mb-lg-0">
					<h5 class="widget-title">About us </h5>
					
						<ul class="list-unstyled">
							<li><span><i class="fa fa-envelope" style="margin-right: 8px;"></i>inqury@studylandsedu.com</span></li>
	                        <li><span><i class="fab fa-weixin" style="margin-right: 8px;"></i>studymindedu</span></li>
							<li><span>上海市徐汇区徐家汇中心3期A栋<br>
	                            珠海市横琴新区环岛东路南方三一总部大厦13楼<br>
	                            重庆市渝中区民族路188号华润广场B座</span></li>
						</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-btm">
		<div class="container">
			<div class="row justify-content-center align-items-center">
				<div class="col-xl-6 col-lg-6">
					<div class="copyright text-lg-start text-center">
                        <p>
                            <a href="https://beian.miit.gov.cn/" target="_blank">沪ICP备2024091674号</a>
                        </p>
						<p>Copyright © <span id="copyright-year"></span> StudyLandsEdu All Rights Reserved. 学屿教育版权所有</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Footer section End -->
<script>
  (function () {
    var yearNode = document.getElementById('copyright-year');
    if (yearNode) {
      yearNode.textContent = String(new Date().getFullYear());
    }
  })();
</script>
