    <header> 
        
        <!-- Main Menu Start -->
        <div class="site-navigation main_menu menu-style-2" id="mainmenu-area">
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="/">
                        <!-- <img src="assets/images/logo double.png" alt="Eduhash" class="img-fluid"> -->
                        <img src="assets/images/banner/logo double.png" alt="Eduhash" class="img-fluid">
                    </a>
    
                    <!-- Toggler -->
    
                    <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                        <span class="fa fa-bars"></span>
                    </button>
                    
                    <!-- Dropdown Menu (hidden by default) -->
	                    <div class="navbar-dropdown" style="display: none;">
	                        <ul class="navbar-dropdown-menu">
	                            <li><a href="/">主页</a></li>
	                            <li><a href="/about">关于我们</a></li>
	                            <li><a href="/mentor">导师团队</a></li>
	                            <li><a href="/contact">联系我们</a></li>
	                            <li><a href="https://workspace.studylandsedu.com" target="_blank" rel="noopener noreferrer">登录</a></li>
	                        </ul>
	                    </div>
    
                    <!-- Collapse -->
                    <div class="collapse navbar-collapse" id="navbarMenu">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a href="/" class="nav-link js-scroll-trigger">
                                    主页
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/about" class="nav-link js-scroll-trigger">
                                    关于学屿
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/mentor" class="nav-link js-scroll-trigger">
                                    导师团队
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/contact" class="nav-link">
                                    联系我们
                                </a>
                            </li>
                        </ul>
                        
	                        <div class="header-login d-none d-lg-block ms-lg-3">
	                            <a href="https://workspace.studylandsedu.com" class="btn btn-sm btn-login-workspace" target="_blank" rel="noopener noreferrer">登录</a>
	                        </div>
	                    </div> <!-- / .navbar-collapse -->
                </div> <!-- / .container -->
            </nav>
        </div>
    </header>
